[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
